a.active {
  color: #ffee00;
}
div.post ul.metadata {
  list-style: none outside none;
  margin-bottom: 5px;
  padding-left: 5;
  color: rgb(153, 153, 153);
}
div.post ul.metadata a {
  color: rgb(153, 153, 153);
}

div.post ul.metadata li {
  display: inline;
  padding-left: 20px;
  padding-right: 10px;
}
div.post ul {
  display: inline;
  padding-left: 20px;
  padding-right: 10px;
}
.spacer {
    background-color: tomato;
    margin: 20px 5px;
}
