<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<title>Mikromike's HomePage</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="css/w3.css">
<link rel="stylesheet" href="css/mycss.css">
{% include navbar.html %}
</head>
<body>
Outside section  - file home.html which comes to top, left corner, top ------
<hr>
   <div class="w3-container">
      <ul>
        <li><a class="active" href="https://mikromika.github.io/">Home</a> </li>
        <li><a href="#news">News</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#about">About</a></li>
    </ul>

  </div>
</div>
<div style="margin-left:25%;padding:1px 16px;height:10px;">
<section>
        section from home.html file - before index-file content
          {{ content }}
        back to - file home.html inside section - after index-file content
</section>
</div>
        Outside section  - file home.html which comes to top, left corner, bottom------
        <hr>
  </body>
</html>
